#banner
  .banner_content
    .wrapper
      %h1 File Cabinet
      %p Your life's work. Organized, always.
      %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Waistcoat pork belly edison bulb pabst VHS. Shoreditch kinfolk skateboard PBR&B scenester franzen schlitz narwhal pug art party. Poutine next level fixie taiyaki. Listicle tattooed ugh health goth pok pok selfies. Humblebrag aesthetic marfa occupy pour-over edison bulb

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path